/*Estilos para los contenedores*/
            
body{
    background-image: url(Imagenes/Agenda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}
#container{
    display: flex; 
    width: 100%;
    max-width: 1450px;
    min-width: 700px;
}
.ui-outputlabel .ui-outputlabel-rfi {/*asterisco*/
    margin-left: .4em;
    display: none;
}
#calendario{
    background: rgba(152,46,46,0.7) !important;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    width: 40%;
    height: 550px;
    padding: 40px;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-color: black;
    border-style: double;
    border-right-style: none;
    border-right-style: dashed;
    border-radius: 30px 50px 50px 30px;
    -moz-border-radius: 30px 50px 50px 30px;
    -webkit-border-radius: 30px 50px 50px 30px;
    float: left;
    margin-left: 10px;
}

#tabla{
    background: rgba(152,46,46,0.7) !important;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1.31%;
    width: 100%;
    height: 550px;
    border-right: 5px;
    border-top: 5px;
    border-bottom: 5px;
    border-color: black;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: dashed;
    border-radius: 50px 30px 30px 50px;
    -moz-border-radius: 50px 30px 30px 50px;
    -webkit-border-radius: 50px 30px 30px 50px;
    float: left;
    margin-right: 10px;
}

.columna1{
    width: 15%;    
}

.columna5{
    width: 11%;
}

.columna6{
    width: 10%;
}

.value {
    font-weight: bold;
}

/*Estilo para tabla de consulta
.ui-datalist {
    width:500px; 
    margin-bottom: 5px;
    margin-left: 40px;
}

.ui-datalist-item {
    padding:3px;
}

.paginated .ui-datalist-data {
    padding-left: 20px;
}*/


/*ESTILOS PARA EL APARTADO DEL CALEDARIO*/

/*Estilos para los botones dentro del calendario*/
.fc button {
    background-color: antiquewhite;
    color:brown;
    padding-left: 20px;
    padding-right: 20px;
}

.fc-left{
    margin-left: 15%;
}

.fc button:hover {
    background-color: burlywood;
    color:#720000;
    box-shadow: 1px 1px antiquewhite;
}

button.fc-agendaWeek-button.ui-button.ui-state-default{ 
    display: none; 
}
button.fc-month-button.ui-button.ui-state-default{ 
    display: none; 
}
button.fc-agendaDay-button.ui-button.ui-state-default{ 
    display: none; 
}
/*fin de estilos de botones*/

/*Estilos para el texto del calendario y tabla del mismo*/
.titulo{
    font-family: cursive;
    color:antiquewhite;
    margin-bottom: 7%;
    text-decoration: underline overline blink;
}

.fc-center{
    margin-top: 7%;
    font-family: cursive;
    color:antiquewhite;
}

.fc th{
    color: brown !important;
    font-family: cursive;
    background: antiquewhite !important;
}

.fc-basic-view .fc-body .fc-row {
    color: brown;
    background-color: antiquewhite;
}

/*Fin de los estilos de calendario y texto*/

/*Estilo para el cuadro de dialogo de agregar eventos*/
.ui-widget-content {
    background: antiquewhite;
}

.ui-dialog-titlebar{/*Panel del Titulo*/
    color: antiquewhite;
    text-align: left;
    font-family: fantasy;
}

.ui-dialog .ui-dialog-content{/*Lo q contiene el desplegable*/
    color: #720000;
    background-color: antiquewhite;
}
/*fin del estilo para el cuadro de dialogo*/
/*FIN DE LOS ESTILOS DEL CALENDARIO*/

/*ESTILOS PARA LA TABLA DONDE SE INSERTAN LAS ACTIVIDADES*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header { 
    background-color: #720000; 
}

.ui-state-default{
    background-color: burlywood;
    font-family: cursive;
    color: #720000;
}

.ui-column-filter, ui-inputfield, ui-inputtext, ui-widget, ui-state-default, ui-corner-all{
    background-color: white;
}

.ui-paginator, ui-paginator-bottom, ui-widget-header, ui-corner-bottom{
    background-color: burlywood;
}

.ui-widget-content,ui-datatable-even,tabla{
    color: #720000;
    font-family: cursive;
}
/*FIN DE LOS ESTILOS DE LA TABLA DONDE INSERTAN ACTIVIDADES*/