.ui-panel-title{
    color: antiquewhite;
}

.mes{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
}

.dias{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
}

.usuario{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.cronograma{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
}

.fases{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
}

.roles{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
}

.tiposface{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
}

.tipoUser{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
}

