.navbar-nav > li > .dropdown-menu {
    background:rgba(152,46,46,0.9);
}

.navbar-default .navbar-nav > li > a {
    color: antiquewhite;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(152,46,46,0.3);
    color: antiquewhite;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
     background-color: rgba(152,46,46,0.3);
     color: antiquewhite;
}

.opcion{
    background-color: beige;
    color: red;
}
.opcion:hover{
    color: #720000;
    background-color: #720000;
}

.Menu{
    margin-top: 30px;
    border-radius:  15px !important;
    font-size: 18px !important;
    border: 5px double;
    border-color: black;
    background:rgba(152,46,46,0.7);
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    box-decoration-break: inherit;
}
.letra{
    color: antiquewhite;
}

#fondo{
    background:rgba(152,46,46,0.1);
}

#menuLetra{
    color: antiquewhite;
    background:rgba(152,46,46,0.0);
}

