body{
    background-image: url(Imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

.padre {
    height: 100%;
    width: 100%;
    /*IMPORTANTE*/
    position:absolute;
    top:5%;
}
.hijo{
    height: 100%;
    width: 100%;
    /*IMPORTANTE*/
    position:absolute;
    top:20%;
    border:none;
}

.madre{
    height: 50%;
    width: 50%;
    /*IMPORTANTE*/
    position:absolute;
    top:80%;
    margin-left: 90%;
    border:none;
}

.primo{
    width: 125%;
    /*IMPORTANTE*/
    position:absolute;
    top:50%;
    margin-left: 52%;
    border:none;
}

.sesion{
    font-family: cursive;
    color: brown;
    position:absolute;
    top:200px;
    left:10px;
}

.ui-dialog-titlebar{/*Panel en el q dice login*/
    background-color: #720000;
    color: antiquewhite;
    font-family: fantasy;
}
.ui-dialog-content{/*Letra*/
    color: darkgoldenrod;
}
.ui-dialog .ui-dialog-content {/*Fondo*/
    background-color: antiquewhite;
}
.ui-button-text-only .ui-button-text {/*Boton */
    background: darkgoldenrod;
    color: antiquewhite;
}

.ancho{
    width: 90%;
}

.altura{
    height: 400px;
}
