body{
    background-image: url(Imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.padre {
    height: 100%;
    width: 100%;
    /*IMPORTANTE*/
    position:absolute;
    top:10px;
}
.hijo{
    height: 100%;
    width: 100%;
    /*IMPORTANTE*/
    position:absolute;
    top:100px;
    border:none;
}

.sesion{
    font-family: cursive;
    color: brown;
    position:absolute;
    top:200px;
    left:10px;
}

.ui-dialog-titlebar{/*Panel en el q dice login*/
    background-color: #720000;
    color: antiquewhite;
    font-family: fantasy;
}
.ui-dialog-content{/*Letra*/
    color: darkgoldenrod;
}
.ui-dialog .ui-dialog-content {/*Fondo*/
    background-color: antiquewhite;
}
.ui-button-text-only .ui-button-text {/*Boton */
    background: darkgoldenrod;
    color: antiquewhite;
}

