body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar-nav > li > .dropdown-menu {
    background:rgba(152,46,46,0.9);
    color: antiquewhite;
}
.dropdown-menu > li > a {
    color: antiquewhite;
}

.navbar-default .navbar-nav > li > a {
    color: antiquewhite;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(152,46,46,0.3);
    color: antiquewhite;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: rgba(152,46,46,0.3);
    color: antiquewhite;
}

.opcion{
    background-color: beige;
    color: red;
}
.opcion:hover{
    color: #720000;
    background-color: #720000;
}

.Menu{
    margin-top: 1.5%;
    border-radius:  15px !important;
    font-size: 18px !important;
    border: 5px double;
    border-color: black;
    background:rgba(152,46,46,0.7);
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    box-decoration-break: inherit;
    font-family: cursive;
}
.letra{
    color: antiquewhite;
    margin-left: 5px;
}

divider{
    border-bottom-style: hidden;
}

divider:active{
    border-bottom-style: hidden;
    background-color: burlywood;
    color:#720000;
}

#fondo1{
    background:rgba(152,46,46,0.1);
}

#fondo2{
    position: absolute;
    margin-left: 85%;
}

#menuLetra{
    color: antiquewhite;
    background:rgba(152,46,46,0.0);
}

.ui-commandlink.ui-widget{
    text-decoration: none;
    color: antiquewhite;
    padding-left: 25px;
}

/*Estilos para la tabla de agregar datos*/
#tipotabla{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 2px solid;
    border-collapse: collapse;
    border-color: #720000;
    border-top-style: hidden;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-right-style: dashed;
    background:rgba(152,46,46,.9);

}

#encabezado{
    text-align: center;
    font-family: cursive;
    color: #720000;
    background:burlywood;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50px 50px 50px 50px;
}

caption{
    color: burlywood;
    padding: 10px;
    font-size: large;
    font-family: cursive;
    text-align: center;
    background:rgba(152,46,46,.9);
    border: 3px solid;
}

.tr-th{
    border: 3px solid;
    color: burlywood;
}

.espacio{
    border: 3px solid;
    color: burlywood;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.rotar{
    -webkit-transform: rotate(-45deg); 
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagen{
    background-image: url(Imagenes/images.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 90px 90px 90px 90px;
    -moz-border-radius: 90px 90px 90px 90px;
    -webkit-border-radius: 90px 90px 90px 90px;
    border-style: solid;
    border-color: #720000;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 90%;
}
