<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Agenda-ElectronicaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>Persistencia.Roles</class>
    <class>Persistencia.TiposFases</class>
    <class>Persistencia.Notificaciones</class>
    <class>Persistencia.Meses</class>
    <class>Persistencia.TiposActividades</class>
    <class>Persistencia.TiposUsuarios</class>
    <class>Persistencia.Calendarios</class>
    <class>Persistencia.Usuarios</class>
    <class>Persistencia.Dias</class>
    <class>Persistencia.Fases</class>
    <class>Persistencia.Cronogramas</class>
    <class>Persistencia.Actividades</class>
    <class>Persistencia.Tiposfases</class>
    <class>Persistencia.Tiposusuarios</class>
    <class>Persistencia.Tiposactividades</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/agenda?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
